.testimoniales {
  padding: 3rem 0;
}

.testimoniales_h2 {
    font-family: var(--fuente_principal);
    padding-bottom: 2rem;
  text-align: center;
  font-size: 2.4rem;
}

.testimoniales_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.testimonial1 {
  grid-column: 1 / 4;
  background-color: var(--secundario);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  color: var(--blanco);
}

.testimonial_header {
    font-family: var(--fuente_principal);
    font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial_img {
  flex-basis: 6rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial_img img {
  max-width: 100%;
  display: block;
}

.testimonial_autor {
  color: var(--blanco);
  font-weight: bold;
  margin: 0.5rem 0;
}

.testimonial_info img {
  max-width: 100%;
  display: block;
}

.testimonial_p {
    font-family: var(--fuente_principal);
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 2rem 0 0 0;
  padding-left: 2rem;
  position: relative;
  color: var(--blanco);
}

.testimonial2 {
  background-color: var(--secundario);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  color: var(--blanco);
}

.testimonial3 {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  background-color: var(--secundario);
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  color: var(--blanco);
}

.testimonial4 {
  grid-column: 1 / 3;
  background-color: var(--secundario);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  color: var(--blanco);
}

.testimonial5 {
  grid-column: 3 / 5;
  background-color: var(--secundario);
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  color: var(--blanco);
}

